.login{
    border: 2px solid gold;
    margin: 20px;
    border-radius: 30px;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-top: 5%;
    background-color:black;
   
}
#pass{
    margin-top:10px;
    margin-right: 20px;
}
#submit,#btn{
    margin-top: 10px;
    height: 30px;
    background-color:black;
    color: white;
}
#submit{
    width: 50%;
    border-radius: 20px;
    
}
#signup{
    width: 50%;
    border-radius: 20px;
}
#email,#pass{
    
    padding: 10px;
    border-radius: 10px;
}
#email:hover{
        background-color: rgb(236, 229, 188);
    }
    #pass:hover{
        background-color:rgb(236, 229, 188);
    
    }
    #btn{
        width: 50%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;  

    }
    
    body{
        background-image: url(../Image/bc.webp);
       background-repeat: no-repeat;
       background-size: cover;
    }
    .topic{
        color: goldenrod !important;
    }