table,th,td{
    border: 2px solid  yellow;
    border-collapse: collapse;
    height: 20px;
}
table{
    border-spacing: 10px;
     margin-left: 15%;   
}
th,td{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
tr{
    border-bottom: 2px solid #ddd;
}
tr:nth-child(odd){
    background-color: aqua;
}
tr:nth-child(even){
    background-color: bisque;
}